# ホワイトリスト形式で管理する
/*
/.**

#--------------------------------------
# /
!/.bashrc
!/.gitignore
!/.inputrc
!/.profile
!/.vimrc
!/.xinitrc
!/.xkeysnail-conf.py
!/.xprofile
!/LICENSE

#--------------------------------------
# /.bash/
!/.bash/**

#--------------------------------------
# /.vim/
!/.vim/**

#--------------------------------------
# /bin/
!/bin/**

#--------------------------------------
# /.config/
!/.config/
!/.config/nvim
!/.config/redshift.conf

!/.config/fcitx/
!/.config/fcitx/config

!/.config/fish/
!/.config/fish/config.fish

!/.config/fontconfig/
!/.config/fontconfig/fonts.conf
