# ホワイトリスト形式で管理する
/*
/.**

#--------------------------------------
# /
!/.bashrc
!/.gitignore
!/.inputrc
!/.profile
!/.vimrc
!/.xinitrc
!/.xkeysnail-conf.py
!/.xprofile
!/LICENSE

#--------------------------------------
# /.bash/
!/.bash/

#--------------------------------------
# /.vim/
!/.vim/
!/.vim/*.vim
!/.vim/*.toml

#--------------------------------------
# /bin/
!/bin/

#--------------------------------------
# /.config/
!/.config/
!/.config/nvim
!/.config/redshift.conf

!/.config/fcitx/
!/.config/fcitx/config

!/.config/fish/
!/.config/fish/config.fish

!/.config/fontconfig/
!/.config/fontconfig/fonts.conf

!/.config/i3/
!/.config/i3/config

!/.config/alacritty/
!/.config/alacritty/alacritty.yml
